@model IEnumerable<SmartLaundry.Models.Dormitory>

@{
    ViewData["Title"] = "Dormitory List";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DormitoryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DormitoryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DormitoryID">Delete</a> |
                <a asp-action="Rooms" asp-route-id="item.DormitoryID">Rooms</a> |
                <a asp-controller="Laundry" asp-action="Index" asp-route-id="@item.DormitoryID">Laundries</a> |
                <a asp-action="ManageDormitoryUsers" asp-route-id="@item.DormitoryID">Manage users</a>
            </td>
        </tr>
}
    </tbody>
</table>
