@using SmartLaundry.Models.DormitoryViewModels
@model ManageUsersViewModel

@{
    ViewBag.Title = "Add manager";
}

<h2>@ViewBag.Title</h2>

<p>
    <a asp-action="AddManager">Create New</a>
</p>

<form asp-action="ManageUsers" method="POST">
    <p>
        <div class="form-group">
            Email: <input type="text" name="managerEmail"/>
            <input type="hidden" name="dormitoryId" value="@Model.DormitoryId"/>
        </div>
        <input type="submit"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Dormitory: @Model.DormitoryId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Users) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <form method="POST" asp-action="AddManager">
                        <input type="hidden" name="managerEmail" value="@item.Email" />
                        <input type="hidden" name="dormitoryId" value="@Model.DormitoryId" />
                        <input type="submit" value="Assign manager"/>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
