@using Microsoft.AspNetCore.Authorization
@model SmartLaundry.Models.DormitoryViewModels.RoomsViewModel
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Rooms";
}

<h2>Rooms</h2>

<a asp-action="Details" asp-route-id=@Model.Dormitory.DormitoryId>Back to details</a>

@if ((await AuthorizationService.AuthorizeAsync(User, "MinimumManager")).Succeeded)
{
    var firstFreeRoomNumber = 1;
    for(var i = 1; i < 100; i++)
    {
        if(Model.Dormitory.Rooms.All(x => x.Number != i))
        {
            firstFreeRoomNumber = i;
            break;
        }
    }

    if (Model.RoomToAdd.Number == 0)
    {
        Model.RoomToAdd.Number = firstFreeRoomNumber;
    }

    if(!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p class="text-danger">@Model.ErrorMessage</p>

    }
    <p>
        <form asp-action="AddRoom" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoomToAdd.DormitoryId" />
            <div class="form-group">
                <label asp-for="RoomToAdd.Number" class="control-label"></label>
                <input asp-for="RoomToAdd.Number" class="form-control" />
                <span asp-validation-for="RoomToAdd.Number" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Add room</button>
        </form>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            Dormitory: @Model.Dormitory.Name
        </th>
        <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Dormitory.Rooms)
    {
        <tr>
            <td rowspan="@(1 + item.Occupants.Count)">
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td colspan="2">
                <form method="post" asp-action="DeleteRoom">
                    <input type="hidden" name="id" value="@item.Id"/>
                    <button type="submit" class="btn btn-default">Remove room</button>
                </form>
                |
                <a asp-action="ManageRoomUsers" asp-route-id="@item.Id">Manage occupants</a>
            </td>
        </tr>
        foreach (var occupant in item.Occupants)
        {
            <tr>
                <td>
                    @occupant.Firstname @occupant.Lastname
                </td>
                <td>
                    <form method="POST" asp-action="RemoveOccupant">
                        <input type="hidden" name="userId" value="@occupant.Id"/>
                        <input type="hidden" name="roomId" value="@item.Id"/>
                        <button type="submit" class="btn btn-default">Remove occupant</button>
                    </form>
                </td>
            </tr>
        }
    }
    </tbody>
</table>